SUPABASE_URL="<YOUR_SUPABASE_URL>"
SUPABASE_PUBLISHABLE_KEY="<YOUR_SUPABASE_PUBLISHABLE_KEY>"
VITE_SUPABASE_PROJECT_ID="<YOUR_PROJECT_ID>"
VITE_SUPABASE_PUBLISHABLE_KEY="<YOUR_VITE_PUBLISHABLE_KEY>"
VITE_SUPABASE_URL="<YOUR_VITE_SUPABASE_URL>"
SUPABASE_SERVICE_ROLE_KEY="<YOUR_SERVICE_ROLE_KEY>"
TELEGRAM_BOT_TOKEN="<YOUR_TELEGRAM_BOT_TOKEN>"
TELEGRAM_ADMIN_CHAT_ID="<YOUR_TELEGRAM_ADMIN_CHAT_ID>"
USE_REAL_SUPABASE="true"
VITE_USE_REAL_SUPABASE="true"
BINANCE_API_KEY="<YOUR_BINANCE_API_KEY>"
BINANCE_API_SECRET="<YOUR_BINANCE_API_SECRET>"
